<form action="/projects" method="post">

  <h3><label for="api_key">Enter your Pivotal Tracker API key:</label></h3>
  <p><input type="text" name="api_key" id="api_key" /></p>

  <p class="hint">You can find your API key at the bottom of the <a href="https://www.pivotaltracker.com/profile">profile page</a>. The key isn't saved and it's only used to build your cards.</p>

  <p><button type="submit">Next</button></p>
</form>
<p><br>
<h3>What is Pivotal Tracker?</h3>
<p class="hint">Pivotal Tracker is a straightforward project-planning tool that helps software development teams form realistic expectations about when work might be completed based on the team’s ongoing performance. Tracker visualizes your projects in the form of stories (virtual cards) moving through your workflow, encouraging you to break down projects into manageable chunks and have important conversations about deliverables and scope. As your team estimates and prioritizes those stories, Tracker divides them into future iterations, learning from your team’s natural pace of work to accurately predict when you will complete future work. Tracker’s transparent team view of priorities means that everyone knows what needs to be done, what is being done, and when it will be completed. Tracker’s agile philosophy not only helps your team keep pace and plan work, but adjust and change course when the unexpected happens, so your team can deliver earlier and more consistently.
  Visit <a href="https://www.pivotaltracker.com">Pivotal Tracker</a> here.</p>

<iframe src="https://player.vimeo.com/video/110382358" width="600" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
